* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html {
  font-size: 62.5%;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 1rem;
}
#image {
  height: 20rem;
  display: none;
}

#canvas {
  max-height: 25rem;
  width: 10rem;
  object-fit: cover;
}

/*
#download_image {
  text-decoration: none;
  padding: 1rem 2rem;
  background: lightblue;
  color: black;
  font-weight: bold;
  border-radius: 5px;
} */
#mypic {
  height: 25rem;
}
