@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f5fe;
  font-family: "Open Sans", sans-serif;
}

#editor {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
}

#image {
  display: none;
}

#canvas {
  max-height: 35rem;
  width: 100%;
  border-radius: 5px;
  object-fit: contain;
  margin: 15px 0 -15px 0;
  border: 10px solid #5d33ee;
  box-shadow: 0 2px 1rem -10px black;
}

.effects {
  display: grid;
  gap: 8px;
  /* margin: 1rem 0; */
}

.effect {
  display: flex;
  align-content: center;
  box-shadow: 0 2px 1rem -2px #e2e9fa;
  background-color: #fefefeb7;
  padding: 8px;
  border-radius: 3px;
}

.effect span {
  width: 10%;
  text-align: center;
}

#buttons {
  display: flex;
  gap: 1rem;
  width: 100%;
}
#download_image,
#reset_image {
  text-decoration: none;
  padding: 0.7rem 2rem;
  background: #5d33ee;
  color: white;
  font-size: 15px;
  margin-top: 1rem;
  letter-spacing: 1px;
  border-radius: 3px;
  width: 50%;
  text-align: center;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  margin-left: 5px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  width: 100%;
  background-color: #cfddff;
  cursor: pointer;
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -3.5px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #5d33ee;
}

@media (min-width: 770px) and (max-width: 2000px) {
  #editor {
    width: 60%;
  }
  .effects {
    grid-template-columns: 1fr 1fr;
  }
}
