* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html {
  font-size: 62.5%;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 1rem;
}
img {
  height: 20rem;
}

/*
#download_image {
  text-decoration: none;
  padding: 1rem 2rem;
  background: lightblue;
  color: black;
  font-weight: bold;
  border-radius: 5px;
} */

.image {
  filter: brightness(40%) grayscale(20%);
}
